# Public Medusa API configuration
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_DEFAULT_REGION=ph
NEXT_PUBLIC_BASE_URL=http://localhost:8000

# Optional payment-provider public key
NEXT_PUBLIC_STRIPE_KEY=

# Optional Medusa Cloud asset configuration
MEDUSA_CLOUD_S3_HOSTNAME=
MEDUSA_CLOUD_S3_PATHNAME=

NODE_ENV=development
